*.pem
*.txt
test/
*.zip
main
a.out
*.enc
unencrypted/
encrypted/
messages/
received/
sent
*.jpg
*.png
*.gif
*.bmp
*.tiff
*.jpeg
*.docx
*.doc
*.pdf
*.ppt
*.pptx
*.xls
*.xlsx
*.csv
*.mp3
*.mp4
*.wav
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.3gp
*.ogg
*.ogv
*.webm
*.mpg
*.mpeg
*.m4v
*.gpg
*.asc
*.pgp
*.key
*.pub
*.p12
*.pfx
messager
privmess